Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-emplace,
  readability-braces-around-statements,
  readability-else-after-return
WarningsAsErrors: >
  clang-analyzer-*,
  bugprone-*
HeaderFilterRegex: '^(core|tests|testdata)/'
FormatStyle: file
